# env-dependant files
/app/config/parameters.yml
/build/
/phpunit.xml

/var/*
!var/SymfonyRequirements.php

# cache
!/var/cache
/var/cache/*
!var/cache/.gitkeep

# logs
!/var/logs
/var/logs/*
!var/logs/.gitkeep

#sessions
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

# assets
/vendor/
/bower_components/
/node_modules/

# web
/web/bundles/

# IDE
.idea
