# env-dependant files
app/config/parameters.yml
phpunit.xml

var/*
!var/SymfonyRequirements.php

# cache
!var/cache/.gitkeep

# logs
!var/logs/.gitkeep

#sessions
!var/sessions/.gitkeep

# assets
bower_components/
node_modules/

# web
web/bundles/
web/assets/

# vendors
vendor

# IDE
.idea
