{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'register.confirm'|trans({}, 'page_title') }}{% endblock %}

{% block body_callout_class %}primary{% endblock %}

{% block body_callout %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock body_callout %}
