<nav class="top-bar">
    <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <strong>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            {{ 'app.name' | trans }}
        </strong>
    </div>
    <div class="top-bar-left">
        {{ menu('main') }}
    </div>
    <div class="top-bar-right">
        {{ menu('user') }}
    </div>
</nav>