{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'profile.reset'|trans({}, 'page_title') }}{% endblock %}

{% block body_callout_class %}primary{% endblock %}

{% block body_callout %}
    <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
{% endblock body_callout %}
