{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'profile.reset'|trans({}, 'page_title') }}{% endblock %}

{% block body_callout_class %}alert{% endblock %}

{% block body_callout %}
    <p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock body_callout %}
