@import "variables";
@import "../../../../../bower_components/foundation-sites/scss/global";
@import "../../../../../bower_components/foundation-sites/scss/components/callout";

@mixin contextual-classes {
  @each $name, $color in $foundation-palette {
    tr, td {
      &.#{$name} {
        @include callout-style($color);
      }
    }
  }
}

nav.top-bar {
  margin-bottom: $defaultMargin;
}

footer {
  text-align: center;
}

label.required::after {
  content: ' *';
  color: map-get($foundation-palette, alert);
}

@include contextual-classes;
