@import "variables";
@import "../../../../../bower_components/foundation-sites/scss/global";
@import "../../../../../bower_components/foundation-sites/scss/components/callout";

@mixin contextual-classes {
  @each $name, $color in $foundation-palette {
    tr, td {
      &.#{$name} {
        @include callout-style($color);
      }
    }
  }
}

nav.top-bar {
  margin-bottom: $defaultMargin;
  color: $topbar-text-color;

  a {
    color: $topbar-text-color;

    &:hover {
      color: $topbar-text-color-hover;
    }
  }
}

footer {
  text-align: center;
}

label.required::after {
  content: ' *';
  color: map-get($foundation-palette, alert);
}

.row:last-child {
  button, input {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.callout > :last-child {
  margin-bottom: 0;
}

@include contextual-classes;
