@import "../../../../../bower_components/foundation-sites/scss/global";
@import "../../../../../bower_components/foundation-sites/scss/util/color";
@import "../../../../../bower_components/foundation-sites/scss/components/callout";
@import "../../../../../bower_components/foundation-sites/scss/components/card";
@import "../../../../../bower_components/foundation-sites/scss/components/menu";
@import "variables";

/** Mixin definitions **/

@mixin contextual-classes {
  @each $name, $color in $foundation-palette {
    tr, td {
      &.#{$name} {
        @include callout-style($color);
      }
    }
  }

  @each $name, $color in $foundation-palette {
    .card-divider {
      &.#{$name} {
        @include card-divider(scale-color($color, $lightness: $callout-background-fade));
      }
    }
  }
}

@mixin status-colors {
  @each $name, $class in $application-status-class-map {
    .#{$name} {
      $color: map-get($foundation-palette, $class);

      background: $color;
      color: foreground($color);
    }
  }
}

@mixin sizes {
  @each $name, $size in $font-size-map {
    .label {
      &.#{$name} {
        font-size: $size;
      }
    }
  }

  @each $name, $padding in $label-padding-size-map {
    .label {
      &.#{$name} {
        padding: $padding;
      }
    }
  }
}

/** Includes **/

@include contextual-classes;
@include status-colors;
@include sizes;

/** Rules **/

.filters {
  .button {
    margin-bottom: 0;
  }
}

nav.top-bar {
  margin-bottom: $global-margin-large;
  color: $topbar-text-color;

  a {
    color: $topbar-text-color;

    &:hover {
      color: $topbar-text-color-hover;
    }
  }

  .badge {
    line-height: 1.5;
  }
}

footer {
  text-align: center;
}

label {
  display: inline-block;

  &.required {
    &::after {
      content: ' *';
      color: map-get($foundation-palette, alert);
    }
  }
}

ul {
  &.unsigned {
    list-style-type: none;
    margin-left: 0;
  }

  li {
    form {
      .button {
        margin-bottom: 0;
        min-width: 7rem;
      }
    }
  }
}

.row:last-child {
  button, input {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.callout > :last-child {
  margin-bottom: 0;
}

.tooltip {
  &.tooltip-icon {
    max-width: 20rem !important;
  }
}

.helper-text-icon {
  margin-left: 0.2rem;
}

.selected-file-name {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 $global-margin $global-margin;
}

.menu {
  > li {
    &.unsigned {
      list-style-type: none;
      margin-left: 0;
    }

    > form {
      padding: 0 $global-padding;
    }
  }
  &.separated {
    li + li {
      border-left: $callout-border;
    }
  }
}

table {
  th {
    &.fit {
      width: 1px
    }
  }
}

.label {
  &.application-status {
    min-width: 7rem;
    text-align: center;
    font-weight: bold;
  }
}

.text-secondary {
  color: dimgray;
}
