@import "variables";

.top-bar {
  strong {
    font-size: 1.5rem;
  }
}

form#form-login {
  .row.last {
    button, input {
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
}

.remember-me {
  display: inline-block;
  margin-left: $defaultMarginSmall;
}