@import "../../../../../bower_components/foundation-sites/scss/global";
@import "variables";

.top-bar {
  strong {
    font-size: 1.5rem;
  }
}

.remember-me {
  display: inline-block;
  margin-left: $global-margin;
}

.vich-file {
  margin-bottom: $global-margin;
}
