$global-margin-large: 1.5rem;

$application-status-class-map: (
  created: primary,
  submitted: secondary,
  accepted: success,
  rejected: alert,
  appealed: warning,
) !default;

$sides: (
  top,
  right,
  bottom,
  left
) !default;

$sizes: (
  small,
  normal,
  large
) !default;

$font-size-map: (
  small: 0.5rem,
  normal: 1rem,
  large: 1.5rem
) !default;

// ** Overrides ** //

$tooltip-padding: 0.5rem;

// foundation
$topbar-background: black !default;
$topbar-text-color: #e6e6e6 !default;
$topbar-text-color-hover: #aaa !default;
$label-required-colour: #8a0000 !default;