$defaultMarginSmall: 1rem;
$defaultMargin: 1.5rem;
$defaultMarginLarge: 2rem;

// ** Overrides ** //

// foundation
$topbar-background: black !default;
$topbar-text-color: #e6e6e6 !default;
$topbar-text-color-hover: #aaa !default;
$label-required-colour: #8a0000 !default;